@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif; direction: rtl; }

.mat-table .no-data {
  padding: 24px;
  text-align: center;
  color: rgba(0,0,0,0.6);
}
